---

layout: default  # required
title: DSA Calendar

calendar_timezone_offset: -0800   # required
calendar_csv: example/events.csv  # required. Path to CSV file from base url

#calendar_focus_date: 2016-01-06   # optional. YYYY-MM-DD. Without it, the default is today
calendar_caption: Data Science Events   # optional
color:  #000000
image: dsa_banner.jpg
subtitle: Data Science Africa Events.
permalink: /calendar/

---

{% include top-section.html %}

{% include calendar.html %}

{% include footer.html %}