<style>
    h6{
        text-indent: 10px;
    }
</style>
<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <hr>
            <h2 id="vision">Vision</h2>
            <p>To be a provider of training in data-centric technologies recognised continentally as a badge of excellence among employers, policies makers, and community stakeholders</p>
            <hr>
            <h2 id="purpose">Purpose</h2>
            <p>To empower a community of practitioners and enthusiasts in data-centric technologies for African solutions</p>
            <hr>
            <h2 id="core_values">Core Values</h2>
            <h6>Openness /Inclusivity</h6>
            <p>DSA is a welcoming and nurturing community that aims to help members of the data science community achieve their goals</p>
            <h6>Community</h6>
            <p>Our goal is to create a strong community that promotes the wellbeing of its members</p>
            <h6>Agility</h6>
            <p>We respond to challenges effectively to ensure our mission is achieved</p>
            <h6>Pragmatic</h6>
            <p>We aim to use data science to solve problems relevant to the African context</p>
            <h6>Sustainability</h6>
            <p>DSA programs are designed to last and use resources prudently to ensure members of the community benefit</p>
            <hr>
            <h2 id="who-we-are">Who we are</h2>
            <p>Data Science Africa (DSA) is a grassroots organization that was founded in 2015 to provide quality training in data science, machine learning, and other emerging technologies with the aim of leveraging these technologies for the development of solutions to African problems.</p>

            <p>DSA bridges the gap whereby students at African universities have limited exposure to cutting-edge machine learning and data science. In addition, there were very few events in Africa at which research aimed at developing solutions to African problems using data science was presented.</p>
            <p>The first DSA summer school and workshop event held in Nyeri at Dedan Kimathi University of Technology in 2015, established the format that would be adopted for subsequent DSA events - a summer school during which participants are trained on the theory and practice of machine learning, followed by workshops during which researchers present work that leverages data science to solve problems of interest in the African context.</p>
            
            <p>At the time of writing, 11 of these capacity-strengthening DSA events have been held in 8 African countries. Between 2015 and 2017, all DSA events were held in East Africa, therefore, in a bid to broaden DSA’s reach to the entire African continent, DSA held the first West African event in Abuja, Nigeria in 2018, followed by an event in Ghana in 2019. Further, during the COVID-19 pandemic, DSA held an online event organized and hosted by Sol-Plaatje University in South Africa. Then in 2023,DSA held an event in Kigali, Rwanda , and most recently, in 2024 the event was in Nyeri Kenya.</p>
                <img src="{{site.baseurl}}/assets/img/Map_DSA Events-04.png">
            <hr>
            <h2 id="legal">Legal Status</h2>
            <p>DSA is a registered non-profit organization since 2019, and is based in Kenya. Its management consists of three management committee members, three board advisors, and ten board members.</p>
            <hr>
            <h2 id="strategicPlan">DSA Strategic Plan</h2><p>The board of Data Science Africa (DSA) is proud to share our strategic plan for 2024 - 2028 that seeks to augment our contribution to the African data science community.</p>
                <a class='btn btn-primary' href='{{ site.url }}{{ site.baseurl }}/assets/Data SCience Aarica_Strategy.pdf'><img width='100px' src="{{ site.url }}{{ site.baseurl }}/assets/file_type_pdf_icon_130274.svg"></a><br>
            <hr>
        </div>
    </div>
        </div>

</section>
		