<!-- Start 3 columns -->
<div id="contact" class="contact" style="background-color: #efefef">
	<div class="jumbotron" style="margin-bottom: 0; ">
	    <h2 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
	 		Contact us
	 	</h2>
	 	<div class="row">
	 		<div class="col-sm-4 col-md-4"></div>
	 		<div class="col-sm-4 col-md-4" style="text-align:center; margin-top: -50px; margin-bottom: -80px;">
		        <ul class="nav">
		            {% if site.contact.phone %}<li><strong> 
                        <svg class="icon icon-p"><use xlink:href="#icon-phone"></use></svg>
                    </strong> {{ site.contact.phone }}</li>{% endif %}
		            {% if site.contact.email %}<li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
		        </ul>
		    </div>
	    </div>
    </div>
</div>
<!-- End 3 columns -->
