<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            <hr>
            
            <p>The Data Science Africa Visiting Fellowship presents exciting opportunities for members of the DSA community to explore and deepen their academic and professional interests through research visits to DSA partner academic institutions. This fellowship is an opportunity for individuals to carry out independent research, to build professional links, and to develop their interests in data science and artificial intelligence research and policy.</p>

            <p>Most importantly, participants in the fellowship get a valuable opportunity to establish connections with academic and industry experts, furthering their professional and personal development.</p>
            
            <p>Details about how to participate in the fellowship will be published soon.</p>
                
            <hr>
            <h2 id="inaugural">The fellowship inaugural project</h2>
                
            <p>Having built a strong foundation of data literacy and created and nurtured a community of African data scientists, DSA is starting to engage and initiate programs aimed at strengthening the foundations of the digital economy across Africa through effective data policy.</p>
                
            <p>The first project in the DSA visiting fellowship will focus on the opportunities and challenges associated with data sharing across the public and private sector. By identifying lessons from the use of data science in the COVID-19 pandemic response, it will develop a blueprint for more effective data sharing collaborations and create a policy framework to support safe and effective data use.</p>
                
            <p>This project is being hosted in collaboration with the Department of Computer Science and Technology at the University of Cambridge</p>
                
             <div class="team-boxed">
        <div class="container">
            
            <div class="row people">
                <div class="col-md-6 col-lg-4 d-flex item">
                    <div class="box"><img class="rounded-circle" src="{{ site.baseurl }}/assets/img/morine.jpg">
                        <h4 class="name">Morine Amutorine &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                        <p class="title">Researcher</p>
                        <p class="description">Bs Software Engineering</p>
<!--                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex item">
                    <div class="box"><img class="rounded-circle" src="{{ site.baseurl }}/assets/img/jessica-montgomery.jpeg">
                        <h4 class="name">Jessica Montgomery</h4>
                        <p class="title">Advisor</p>
                        <p class="description">Executive Director,<br>
Accelerate Programme for Scientific Discovery,<br>University of Cambridge </p>
<!--                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex item">
                    <div class="box"><img class="rounded-circle" src="{{ site.baseurl }}/assets/img/neil.jpg">
                        <h4 class="name">Prof. Neil Lawrence</h4>
                        <p class="title">Host</p>
                        <p class="description">DeepMind Professor of Machine Learning,<br>
Department of Computer Science, <br>
University of Cambridge </p>
<!--                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
                
            <hr>
            <h2 id="ongoingWork">Ongoing work</h2>
                
            <p>DSA is creating a database of data driven Covid19 solutions in Africa. We are interested in learning about any innovative ways people have used data to respond to covid19 disease, the lockdowns, curfews and all other issues brought about by the pandemic. Please contribute to this effort by providing answers to a few questions in this survey.</p>
            <p>We invite participation from all the whole DSA community in engaging and sharing this form far and wide in order to build a rich database of these use cases that will be analysed to extract lessons to inform the work of DSA in supporting policies</p>
            <p>More about the project can be found here</p>
            
                
            <hr>
            <h2 id="hostingInstitution">Hosting institutions</h2>
                
            <center><img width="200px"  src="{{ site.baseurl }}/assets/img/university-of-cambridge-logo.png"></center>
            <hr>
        </div>
    </div>
        </div>

</section>
		