<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-success" href="#">Apply for Call</a>
            <hr>
            
            <p>Data Science Africa (<a href="http://www.datascienceafrica.org/">DSA</a>) and Deep Learning Indaba (<a href="https://deeplearningindaba.com/">DLI</a>) are collaborating in the implementation of a research funding initiative spanning the African continent whose objective is to strengthen the pipeline of African AI research by increasing funding pathways.</p>

            <p>This funding call invites Junior Researchers (MSc and PhD students) in Africa to submit research proposals seeking funding We are particularly looking to support Junior Researchers with research projects:</p>
                
                
                <ul>
                    <li>that are conducted at universities or research institutions in Africa;</li>
                    <li>that have a strong machine learning, artificial intelligence or data science component, in any discipline of science;</li>
                    <li>that have <strong>sustainable development goals</strong> in mind;</li>
                    <li>that could reach deliverable outputs by the early April 2023</li>
                </ul>
            <hr>
            <h2 id="application">APPLICATION PROCESS</h2>
            <p>Applications can be made through the Data Science Africa’s Proposal Portal. Selection will be based purely on the quality of the candidates and proposals.</p>
            <p>Applications will be in the form of a PDF of up to five pages, and should contain:</p>
                <ul>
                    <li>a research hypothesis and expected outcomes;</li>
                    <li>a brief paragraph on the long-term vision for the work and a description of the intended deliverables;</li>
                    <li>a brief ethical review that considers any perceived risks and the research’s effect on people and society;</li>
                    <li>a realistic timeline of the research project;</li>
                    <li>a budget detailing the total amount requested and expenditure allocation;</li>
                    <li>a letter of support by their supervisor, and a copy of the MSc/PhD study admission letter;</li>
                    <li>current academic transcript of the applicant in the enrolled program;</li>
                    <li>proof of permanent residency or nationality of an eligible African country.</li>
                </ul>
            <hr>
            <h2 id="keydates">KEY DATES</h2>
            <p>19th February 2022 – Call for proposals open</p>
            <p>01st April 2022 – Proposal submission deadline</p>
            <p>29th April 2022 – Decision notification</p>
            <p>2nd May to 20th May 2022 - Due diligence of host institutions of successful research proposals.</p>
            <hr>
            <hr>
            <h2 id="deliverables">DELIVERABLES</h2>
            <p>As a deliverable, we ask that any generated data and findings be shared in the public domain, adhere to the <strong>FAIR Principles</strong>, and are reported as:</p>
              <ul>
                <li>a preprint of research work submitted for publication, or</li>
                <li>a technical report.</li>
              </ul>
                <p>The <strong>'FAIR Guiding Principles for scientific data management and stewardship'</strong> provide guidelines to improve the findability, accessibility, interoperability, and reuse of digital assets, so that future researchers can leverage your research findings. We further encourage researchers to identify peer reviewed journals, conferences and workshops that are relevant to the work they are undertaking, and plan to submit to these venues.</p>
            <hr>
            <h2 id="receivingFunds">RECEIVING FUNDS</h2>
            <p>Selected research projects will be monetarily awarded from USD 2,500 to USD 5,000, funding which will be disbursed as the research project progresses, based on agreed timelines. The research projects will be funded through a university or research institution (Host institution).</p>
                
            <hr>
            <h2 id="fundingPartner">FUNDING PARTNERS</h2>
            <p>This call is being organized by Data Science Africa (DSA) in close collaboration with the <a href="https://deeplearningindaba.com/">Deep Learning Indaba</a> and  Artificial Intelligence for Development in Africa (<a href="https://ai4d.ai/">AI4D Africa</a>) with the generous support of the International Development Research Centre (IDRC).</p>
            <p><strong>More questions?</strong> Email us at <a href="mailto:dsa-research-award@datascienceafrica.org">dsa-research-award@datascienceafrica.org</a></p>
            <hr>
        </div>
    </div>
        </div>

</section>
		