<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-success" href="https://www.surveymonkey.com/r/ZR2TWDH" target="_blank">Apply for Call</a>
            <hr>
            <style type="text/css">
                ol ol{
                    text-indent: 50px;
                }
            </style>
            <p><i>TL:DR In partnership with Data Science Africa, Meta is excited to announce the Llama for Africa grant program, which aims to support African-based startups, research laboratories, and researchers who are leveraging Llama, our open-source large language model, to create indigenous solutions.</i>i></p>

            <p>The rapid evolution of artificial intelligence, particularly generative AI, has opened up new avenues for economic and social growth, enabling innovative solutions that are pushing boundaries. At Meta, we have a long-standing commitment to open-sourcing our products and tools to benefit the global community. Our latest milestone is the release of Llama 3.3, a state-of-the-art large language model that sets a new standard for performance and capabilities.</p>
               <p></p> 
		    <p>In partnership with Data Science Africa, Meta is excited to announce the Llama for Africa Program, an initiative designed to support African-based startups, research laboratories, and researchers who are leveraging Llama, particularly the latest Llama 3.3 model, to develop indigenous solutions that address the continent's unique challenges. With over 180 million download requests for Llama models, we have seen firsthand the impact that these models can have when used for social good. </p> 
		    <p>The Llama for Africa Program aims to identify and support the most promising applications of Llama 3.3, focusing on areas such as health, science, and agriculture, to drive innovation and societal benefit. Through this program, we will provide grants of up to $20,000 USD to projects that demonstrate a clear use case for Llama and have the potential to make a significant impact. We believe that by empowering African innovators with access to cutting-edge AI technology, we can unlock new opportunities for growth and development across the continent.
</p> 
  <p>This grant will support</p>
	   
                <ol>
                    <li> African-based startups with a product currently available to users</li>
                    <li> African-based Academic or Industrial laboratories with a use case or proof-of-concept and requiring support to develop a product
</li>
                    <li>Researchers and Innovators based in Africa with ideas for potential applications.</li>
                </ol>
            
            <hr>
            <h2 id="application">Eligibility</h2>
            
                <ol>
                    <li>Be based in an African country</li>
                    <li>Have a clear use case for Llama</li>
                    <li>Demonstrate a commitment to ethics, transparency, and responsible AI development</li>
                    
                </ol>
                
                <h2>Evaluation Criteria</h2>  
                <p>Proposals will be evaluated based on the following criteria:</p>
                <ol>
                    <li>Clear description of an application with a compelling use case that makes use of Llama</li>
                    <li>Clear path to impact and large potential user base for the solution</li>
                    <li>Team composition and expertise</li>
                    <li>Ethical product development</li>
                    <li>Realistic budget and timeline</li>
                  
                </ol>
  
                <h2>How to Apply</h2>  
                <p>To apply for the grant program, please submit your proposal through our online application portal. <b>The deadline for submissions is April 18, 2025.</b></p>
		    <h2>About Data Science Africa</h2>  
                <p>Data Science Africa (DSA) is a grassroots organisation that was founded in 2015 to provide quality training in data science, machine learning, and other emerging technologies with the aim of leveraging these technologies for the development of solutions to African problems.</p>
            <h2>Application Form</h2>  
                <p>Interested applicants should fill the <b><a href="https://www.surveymonkey.com/r/ZR2TWDH" target="_blank">application form</a> by 18th April 2025.</b>b</p>
            
            <hr>  
        </div>
    </div>
        </div>

</section>
		
