<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-success" href="https://docs.google.com/forms/d/e/1FAIpQLSftWhtZDjpa1YtKref3FNeOFrM7rltpBXtFRhzKOgYdX16uAQ/viewform" target="_blank">Apply for Call</a>
            <hr>
            <style type="text/css">
                ol ol{
                    text-indent: 50px;
                }
            </style>
            <p>Large language models have a great potential for impact in different areas including health, science and agriculture. Data Science Africa with support from Meta aims to support African based start-ups, research laboratories and researchers currently working on applications leveraging Llama, the open large language model from Meta AI, to solve problems relevant in the African context with a focus on applications that contribute to the achievement of the sustainable development goals.</p>

            <p>In particular we seek to support three categories of applicants namely:</p>
                
  
                <ol>
                    <li>African based startups with a product currently available to users</li>
                    <li>African based Academic or Industrial laboratories with a use case or proof-of-concept and requiring support to develop a product</li>
                    <li>Researchers and Innovators based in Africa with ideas for potential applications.</li>
                </ol>
            <p>Funding levels will vary depending on category as explained below.</p>
            <hr>
            <h2 id="application">Eligibility</h2>
            <h2>Start-Up Category</h2>
            
            
                <ol>
                    <li>A majority of the founder team should be citizens of an African country</li>
                    <li>The product to be supported must leverage Llama</li>
                    <li>The product must solve a problem linked to achievement of the sustainable development goals</li>
                    <li>The start-up should have a clear sustainability plan</li>
                    <li>The start-up should have clear data management, privacy, and ethics policies</li>
                    
                </ol>
                
              <h2>Academic or Industrial Laboratories</h2>  
                <ol>
                    <li>The laboratory must be located in Africa</li>
                    <li>Academic labs must be affiliated to African universities </li>
                    <li>The use case to be supported must leverage Llama and have a clear path to impact</li>
                    <li>The team should have expertise in AI and large language models</li>
                    <li>The lab should have a clear data management plan, privacy policy, and ethical approval to conduct the project</li>
                </ol>
                
                <h2>Researchers and Innovators</h2>  
                <ol>
                    <li>The researcher and innovator must be based in Africa</li>
                    <li>Demonstrate expertise in AI and use of large language models</li>
                    <li>The use case to be supported must leverage Llama and have a clear path to impact</li>
                    <li>The researcher or innovator should demonstrate the ability to conduct the project in an ethical manner and  have a clear data management plan and privacy policy.</li>
                </ol>
                
                <h2>Evaluation</h2>  
                <p>Proposals will be evaluated by an expert panel of reviewers with a focus on:</p>
                <ol>
                    <li>Clear description of an application with a compelling use case</li>
                    <li>Clear path to impact and large potential user base for the solution</li>
                    <li>Team composition and expertise</li>
                    <li>Ethical product development</li>
                    <li>Realistic budget and timeline</li>
                    <li>Responses to the due diligence questionnaire</li>
                </ol>
                
                <h2>Budget</h2>  
                <p>Projects will be funded in the range USD 10,000 to USD 20,000. Your budget must be realistic and the scope of work should be achievable with the resources requested.</p>
                
                
                <h2>Application</h2>  
                <p>Interested applicants should fill the application form by 10th January 2025. The form has the following categories.</p>
                <ol>
                    <li>Category [Startup - Laboratory - Researcher/Innovator]</li>
                    <li>Use-case or Product Description (200 words)</li>
                    <li>Path to impact (200 words)</li>
                            <ol type="a">
                                <li>anticipated benefit from product adoption</li>
                                <li>User base size and geographical reach </li>
                            </ol>
                    <li>Technology description (400 words)</li>
                            <ol type="a">
                                <li>Data and Model description</li>
                                <li>Deployment considerations</li>
                            </ol>
                    <li>Data management, privacy and ethics (400 words)</li>
                    <li>Budget</li>
                </ol>
            <p>Applicants should also familiarise themselves with the due diligence questionnaire in order to be in a position to promptly submit a response to the questionnaire should your project be selected.
            </p> 
            <hr>
            <h2 id="keydates">Key Dates</h2>
            <p>06th December 2024 – Call for proposals open</p>
            <p>10th January 2025 – Proposal submission deadline</p> 
            <hr>  
        </div>
    </div>
        </div>

</section>
		
