<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            <hr>
           <img src="assets/img/DSWH_Portrait.png" alt="Data Science to Advance Women's Health (DSAWH) Fellowship Program" width="100%"> 
    <p data-start="191" data-end="416">Data Science Africa (DSA) is proud to announce the launch of the <strong data-start="256" data-end="325">Data Science to Advance Women's Health (DSAWH) Fellowship Program</strong>, starting with the 2025 West Africa Cohort of 20 early-career women researchers.</p>
<p data-start="418" data-end="623">This transformative fellowship is designed to equip <strong data-start="470" data-end="494">40 women researchers</strong> over two cohorts (2025 and 2026) with advanced&nbsp;data science skills to tackle critical women's health issues across Africa.</p>
<h3 data-start="625" data-end="662"><strong data-start="629" data-end="660">What the Fellowship Offers:</strong></h3>
<p data-start="663" data-end="1042">✔ Structured mentorship from leading experts in data science and health research<br data-start="747" data-end="750" /> ✔ Participation in the Annual DSA Summer School and Workshops<br data-start="815" data-end="818" /> ✔ Professional development opportunities to enhance research impact<br data-start="889" data-end="892" /> ✔ Support for publishing research findings<br data-start="938" data-end="941" /> ✔ A collaborative environment that fosters innovation in AI and data science for women's health</p>
<p data-start="1044" data-end="1201">Through this initiative, DSA aims to increase female representation in&nbsp;AI and data science, empowering women to lead groundbreaking health innovations.</p>
<h3><strong>Spotlight on 2025 DSAWH Fellows</strong></h3>
<div class="table-responsive">
	<table border="1" style="width: 100%; border-collapse: collapse;" cellpadding="8" cellspacing="0">
		<thead>
			<tr style="background-color: #f2f2f2;">
				<td style="padding: 5px; border: 1px solid #e4e4e4;"><strong>Name</strong></td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;"><strong>Country</strong></td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;"><strong>Institution</strong></td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;"><strong>Degree Program</strong></td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;"><strong>Research Paper Title</strong></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ossai Onyinyechi Gift</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Nigeria, Nsukka</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">PhD Student (Urban Geography)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Menopausal Transition</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">AKWAH Lilian</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Cameroon</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Institute of Medical Research and Medicinal plant studies in Cameroon</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">phD student (medical microbiology)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Intravaginal practices and Chlamydia trachomatis infection</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Anne Amina Freitas</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ahmadu Bello University, Zaria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Masters in Public Health (Epidemiology)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Predicting Pregnancy Complications Using a Deep Hybrid Model</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Angela Nana Esi Ackon</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ghana</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Health and Allied Sciences, Ho, Ghana</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">PhD student (Public Health)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Research Paper_AAckon</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Gaelle Pricile GANGBE</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Bénin</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">LABEF/UAC(Laboratory of Biomathematics and Forestry Estimation)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Leveraging Machine Learning for Early Detection and Personalized Treatment of Breast Cancer in West and Central Africa</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Abiola Ayokomi Afolabi</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Obafemi Awolowo University</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">The Influence of Poverty on Abortion Practices among Women in Farming Communities of Osun State Focus on</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Erica Akanko</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ghana</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Ghana</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Master of Science in Computer Science</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Breast_Cancer _manuscript-12_6_5.pdf</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ifeoluwa Esther Oluwatuase</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Ibadan</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">RISKY POSTPARTUM SEXUAL BEHAVIOUR AND UNINTENDED PREGNANCY OUTCOMES AMONG MULTIGRAVID WOMEN IN ONDO STATE</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Eletu Suliyat Kofoworola</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Lagos State University(LASU,Ojo)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Master of Science in Communication and Media Studies</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Awareness and Knowledge of Cervical Cancer among Women in Eti-Osa Local government Area,Lagos State.</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Roseline Oluwaseun Ogundokun</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Landmark University Omu Aran</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Optimized Hybrid CNN_RNN Model-8_31_18.docx</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Afusat Ayoola Oladosu</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Lagos</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Master's of Science in Biomedical Engineering</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">AFUSAT AYOOLA MSC REPORT-9_41_44.docx</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Anuri Chinwe Iyalla</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Early Career Researcher- Freelancer</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Master of Public and International Affairs</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Research Paper on the impact of ALOPECIA and other forms of hair loss on the health of career woman in Africa</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">MINABA Sègnimaké Tatiana Carine</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Bénin</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Abomey-Calavi</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Draft Resarch proposal Carine minaba</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Adebisi Temitayo Moyosore</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Faculty of Nursing, University of Ibadan, Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Temitayo Moyosore ADEBISI DSA-21_2_29.docx</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Ogechi Vinaprisca Ikhuoria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">School of Public Health, University of Port Harcourt</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Master of Science in Population &amp; Reproductive Health</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Sexual Activity and Associated Health Problems of Female Senior Secondary School Students in Port Harcourt</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Oyadeyi Oluwadamilola Adeola</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Ibadan, Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Oyadeyi Oluwadamilola's Research Paper</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Monsoï Consolas Névinas HODONOU</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Benin</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">LABEF (FSA/UAC)</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Research_Paper_DSA-2_45_29.pdf</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Solange DABOU</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Cameroon</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">University of Dschang</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">DABOU et al</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">HOUECANDE Nongande Pioulasse Bernice</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Benin</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Research Unit in Applied Microbiology and Pharmacology of Natural Substances, Polytechnic School of Abomey-Calavi, University of Abomey-Calavi</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">PhD Student / Doctoral training in Biochemistry, Molecular and Cellular Biology, and Microbiology / Microbiology specialization</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Bovine tuberculosis in sub-Saharan West Africa: Prevalence, antibiotic resistance and the challenges of the one-health approach</td>
			</tr>
			<tr>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Comfort Damilola Adesina</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Nigeria</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">Federal University of Agriculture, Abeokuta</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">&nbsp;</td>
				<td style="padding: 5px; border: 1px solid #e4e4e4;">_Draft - GNN-Enhanced Multi-Task Learning for Menstrual Disorder Prediction Using Multi-Omics Data</td>
			</tr>
		</tbody>
	</table>
</div>
<p>&nbsp;</p>

<p data-start="1203" data-end="1285">Stay tuned for updates as we work towards a healthier and more inclusive future</p>
           <hr>
           <br>
        </div>
    </div>
        </div>

</section>
