<!-- Start Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scroll" href="#top"><img src="/{{ site.logo_url }}" alt="{{ site.events_title }}" height="200"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="scroll" href="{{ site.baseurl }}/">HOME</a></li>
                <li><a class="scroll" href="#summer_school">SUMMER SCHOOL</a></li>
                <li><a class="scroll" href="#workshop">WORKSHOP</a></li>
                <li><a class="scroll" href="#sponsors">SPONSORSHIP</a></li>
                <!-- <li><a class="scroll" href="#testimonials">TRAVEL</a></li> -->
                <li><a class="scroll" href="#social_event">SOCIAL EVENT</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Header -->
