<div id="events" class="events" style="padding-top:50px;padding-bottom:50px" >
  <div class="container-fluid" >
    <h1>DSA COVID Events</h1>
    <dl>
    	<dt>1st DSA Covid-19 Webinar on April 8th, 1600 GMT</dt>
    	<dd>Discussion on how we are responding to the pandemic, info on how and where to help. 
    		Key agenda include:
    			<ul>
    				<li>Highlight the efforts by data scientists to combat this pandemic.</li>
					<li>Determine avenues for collaboration.</li>
					<li>Link data scientists with domain experts.</li>
    			</ul>
    		Program TBD
    	</dd>

    </dl>
  </div>
</div>
    
