 <!-- Footer -->
<!--<hr>-->
        <footer>
        	<div class="footer-top">
		        <div class="container">
		        	<div class="row">
                        
		        		<div class="col-md-6 col-lg-3 footer-about wow fadeInUp">
		        			<img class="logo-footer" src="{{site.baseurl}}/assets/img/dsa map banner UGANDA-04.png" alt="logo-footer" data-at2x="{{site.baseurl}}/assets/img/dsa map banner UGANDA-04.png">
		        			<p>
		        		        {% if site.footerMessage !="" %}
                                    {{ site.footerMessage }}
                                {% endif %}
		        			</p>
		        			
	                    </div>
		        		<div class="col-md-6 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
		        			<h3>Contact</h3>
                            {% for contact in site.contactBlock %}
                                {% if contact.info != "" %}
                                <p><i class="{{ contact.icon }}"></i> {{ contact.title }} {{ contact.info }}</p>
                                {% endif %}
                            {% endfor %}
		                	
	                    </div>
	                    <div class="col-md-12 col-lg-4 footer-links wow fadeInUp">
	                    	<div class="row">
	                    		<div class="col">
	                    			<h3>Links</h3>
	                    		</div>
	                    	</div>
	                    	<div class="row">
	                    		<div class="col-md-6">
                                    {% for footerlink in site.linksBlock %}
                                {% if footerlink.url != "" and footerlink.link == false %}
                                    <p><a class="scroll-link" href="{{ site.url }}{{ site.baseurl }}{{ footerlink.url }}">{{footerlink.title}}</a></p>
                                {% endif %}
                                {% if footerlink.url != "" and footerlink.link == true %}
                                    <p><a target="_blank" class="scroll-link" href="{{ footerlink.url }}">{{footerlink.title}}</a></p>
                                {% endif %}
                            {% endfor %}
	                    			
	                    		</div>
<!--
	                    		<div class="col-md-6">
	                    			<p><a class="scroll-link" href="#section-4">Blog</a></p>
	                    			<p><a href="#">Affiliates</a></p>
	                    			<p><a href="#">Terms</a></p>
	                    		</div>
-->
	                    	</div>
	                    </div>
		            </div>
		        </div>
	        </div>
	        <div class="footer-bottom">
	        	<div class="container">
	        		<div class="row">
	           			<div class="col-lg-6 col-md-6 col-sm-12 footer-copyright">
	                    	{{ site.copyright }}
	                    </div>
	           			<div class="col-lg-6 col-md-6 col-sm-12 footer-social">
							<a href="#"><i class="fab fa-twitter"></i></a> 
	                    	<a href="#"><i class="icon icon-youtube"></i></a> 
                            
<!--
							<a href="#"><i class="fab fa-google-plus-g"></i></a> 
							<a href="#"><i class="fab fa-instagram"></i></a> 
							<a href="#"><i class="fab fa-pinterest"></i></a>
-->
	                    </div>
	           		</div>
	        	</div>
	        </div>
        </footer>