
<section>
<div class="container">
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">DSA Calendar</h4>
        <p class="card-text">DSA is excited to announce a visiting fellowship program for members of the DSA community to further their professional and personal development through academic and professional research visits. Learn more about the fellowship</p>
          <a class="btn btn-primary text-white">Calendar...</a>
        
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">DSA Blog</h4>
        <p class="card-text">DSA announced a call to support research addressing local challenges in Africa in August 2020. The aim was to support up to ten pilot and early stage research projects that leverage data science, artificial intelligence (AI) and machine learning (ML) methods to develop tools with broad societal benefits. We are happy to announce the projects selected</p>
          <a class="btn btn-primary text-white">Read More...</a>
        
      </div>
    </div>
    <div class="col-md-4">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" class="card-img" alt="...">
    </div>
  </div>
</div>
    </div>
</section>


