<div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2 icon icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@datascienceafrica.org</span></a>
              <span class="mx-md-2 d-inline-block"></span>
              <a href="#" class=""><span class="mr-2 icon icon-phone"></span> <span class="d-none d-md-inline-block">1+ (234) 5678 9101</span></a>


              <div class="float-right">

                <a href="#" class=""><span class="mr-2  icon icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2 icon icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

              </div>

            </div>

          </div>

        </div>
    </div>
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


            <div class="site-logo mt-3">
                <a href="index.html" class="logo"><img src="{{site.baseurl}}/assets/img/dsa map banner UGANDA-03.png" width="80px" class="img-fluid d-none d-md-block"></a>
            </div>

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                    
                   {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                    
                <li class="has-children">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link {{ class }}">{{ link.title }}</a>
                    <ul class="dropdown arrow-top">
                        {% for sublink in link.sublinks %}
                            {% if sublink.subsublinks %}
                                <li class="has-children">
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}" class="nav-link">{{ sublink.title }}</a>
                                        <ul class="dropdown">
                                            {% for subsublink in sublink.subsublinks %}
                                                <a href="{{ site.url }}{{ site.baseurl }}{{ subsublink.url }}" class="nav-link">{{ subsublink.title }}</a>
                                            {% endfor %}
                                            </ul>
                                        </li>
                            {% else %}
                                <li>
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}" class="nav-link">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}    
                <li>
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="nav-link {{ class }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %} 
                    
                  
<!--                  <li><a href="#services-section" class="nav-link">Services</a></li>-->


<!--
                  <li class="has-children">
                    <a href="#about-section" class="nav-link">About Us</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#who-we-are" class="nav-link">Who we are</a></li>
                      <li><a href="#foresight" class="nav-link">Foresight</a></li>
                      <li><a href="#achievements" class="nav-link">Achievements</a></li>
                      <li><a href="#tenets" class="nav-link">Core Tenets</a></li>
                        <li><a href="#legal" class="nav-link">Legal Status</a></li>

                      <li class="has-children">
                        <a href="#">More Links</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>

                    </ul>
                  </li>
-->

<!--
                  <li><a href="#programmes-section" class="nav-link">Programmes</a></li>

                  <li><a href="#resources-section" class="nav-link">Resources</a></li>
                  <li><a href="#calendar-section" class="nav-link">Calendar</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact Us</a></li>
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
-->
                </ul>
              </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-3 js-menu-toggle text-black"><span class="icon icon-menu"></span></a></div>

          </div>
            </div>

      </header>

