<!-- Start news -->
<!--
<div id="gallery" class="gallery container">
 <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">
 	Latest News
 </h1>
 <div class="row">
 	<div class="col-sm-2 col-md-2"></div>
 	<div class="col-sm-8 col-md-8" style="text-align: center; margin-top: -50px;">
		 <h3><a>Call for Papers</a></h3>
		 <p>
		 	DevFest Istanbul 2014 will be held 6th of December in one of the most beautiful cities in the world: Istanbul. If you want to be part of this great event and community go ahead and fill the form. Presenters – who should speak at the DevFest Conf.
		 </p>
	</div>
 </div>

</div>
-->
<!-- End news -->
