

<div class="jumbotron text-white jumbotron-image shadow" style="background-image: linear-gradient(rgba(0, 0, 0, 0.827),rgba(0, 0, 0, 0.8)) , url('{{ site.baseurl }}/assets/img/dsa_banner.jpg');">
      <h2 class="mb-4">
        DSA Events
      </h2>
      <p class="mb-4">
        DSA Events consist of a 3 days of Summer School and 2 days of Workshop. We have had a total of 9 events in 7 countries in Africa.
      </p>
      
    </div>

		<section class="ftco-section">
			<div class="container">
				<div class="row">
					
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel">
                    {% assign events = site.data.events | sort_natural: "startdate" | reverse %}       
                    {% for event in events %}
							<div class="item mr-4">
								<div class="blog-entry">
		                          <a target="_blank" href="{{ event.site }}" class="block-20 d-flex align-items-start text border" style="background-image: url('{{site.baseurl}}{{ event.image }}');">
								  <div class="meta-date text-center p-2">
                                  {% assign datesplit = event.startdate |date: "%d, %b, %Y" |split: ", " %}
		                              <span class="day">{{ event.position }}</span>
		                              
		                          </div>
                                      <div class="meta-details">
                                          {{ event.title }}
                                      </div>
		                          </a>
		                      <div class="text border border-top-0 p-4">
		                      <h3 class="heading"><a target="_blank" href="{{ event.site }}">{{ event.venue }}</a></h3>
<!--		                      <p>{{ event.theme }}</p>-->
		                      </div>
		                      </div>
							</div>
                {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>