<!-- partial:index.partial.html -->
<!-- ============================================================= SECTION – HERO ============================================================= 
mx-auto d-none d-md-block-->
<style>
.inner-header {
/*  height: 300px;*/
  background-position: top;
  background-size: cover;
}



.responsive-bg {
      background-image: var(--mobile-bg);
  }
    
  @media (min-width: 600px) {
      .responsive-bg {
          background-image: var(--tablet-bg);
      }
      
  @media (min-width: 1024px) {
      .responsive-bg {
          background-image: var(--desktop-bg);
      }
      
  }
</style>		
			<section id="mainSlider" class="mb-3">
				<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/icain-1_desktop.jpg); linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));">
						<div class="container">
							<div class="caption vertical-center text-left" >
								
								<h1 class="fadeInRight-1 dark-bg light-color" ><span>Strategic Partnership for DSA</span></h1>
								<p class="fadeInRight-2 light-color d-none d-lg-block d-xl-block">Data Science Africa joins international partners to launch the International Computation and AI Network (ICAIN)</p>
								<div class="fadeInRight-3">
									<a href="https://www.datascienceafrica.org/dsablog/2024/01/19/data-science-africa-joins-international-partners-to-launch-icain.html" class="btn btn-large btn-danger">Read more ...</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left" >
								
								<h1 class="fadeInRight-1 dark-bg light-color" ><span>DSA Uganda<br>Eastern</span></h1>
								<p class="fadeInRight-2 dark-color d-none d-lg-block d-xl-block">Visit the Youtube link below</p>
								<div class="fadeInRight-3">
									<a href="https://www.youtube.com/watch?v=e5tHetBxMnM" class="btn btn-large btn-danger">Click to Watch the Event</a>
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/launch-dsa-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/launch-dsa-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/launch-dsa-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-top text-left" >
								
								<h2 class="fadeInRight-1 dark-bg light-color" ><span>DSA 2023<br> Kigali Launch</span></h2>
								
								<div class="fadeInRight-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
                    
                    
                    
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/previous-dsa-events-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/previous-dsa-events-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/previous-dsa-events-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInDown-1 light-color">Previous DSA Events</h1>
								<p class="fadeInDown-2 medium-color d-none d-lg-block d-xl-block">Since 2015, DSA has held 11 events in 8 different African Countries including Rwanda, Ghana, Uganda, Nigeria, South Africa, Kenya, Tanzania, and Ethiopia. DSA Events consist of 3 days summer school (for training) and 2 days of workshop (for showcasing use cases) 
</p>
								<div class="fadeInDown-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
					
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-research-grants-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-research-grants-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-research-grants-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInRight-1 dark-bg light-color"><span>DSA Research<br>Grants</span></h1>
								<p class="fadeInRight-2 dark-color d-none d-lg-block d-xl-block">DSA grants to 10 projects based at African Universities covering 8 (eight) African countries including Benin, Egypt, Ethiopia, Kenya, Nigeria, South Africa, Tanzania, and Uganda. Covering areas oc COVID-19, Agriculture, Climatic change, Urban planning and Health.</p>
								<div class="fadeInRight-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-visiting-fellowship-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-visiting-fellowship-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-visiting-fellowship-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeIn-1 dark-bg light-color"><span>DSA Visiting<br> Fellowship</span></h1>
								<p class="fadeIn-2 dark-color d-none d-lg-block d-xl-block">The DSA Visiting Fellowship presents exciting opportunities<br> for members of the DSA community to explore and deepen their <br>academic and professional interests through research visits to DSA <br>partner academic institutions. </p>
								<div class="fadeIn-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
                    
                    
                    <div class="item inner-header responsive-bg" style="--mobile-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-mobile.jpg); --tablet-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-tablet.jpg); --desktop-bg: url({{site.baseurl}}/assets/img/slideshow/dsa-local-chapter-desktop.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInDown-1 dark-color d-none d-lg-block d-xl-block">Local<br> chapters</h1>
								<p class="fadeInDown-2 medium-color d-none d-lg-block d-xl-block">DSA local chapters are meant to consolidate the achievements of <br>DSA at individual country level. DSA Uganda network is the first <br>local chapter and its mission is  to be “an all-inclusive network of <br>data scientists, enthusiasts, and organisations inspired to grow <br>data science skills and their usage to contribute to Uganda's <br>development aspirations”.</p>
								<div class="fadeInDown-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
					
				</div><!-- /.owl-carousel -->
			</section>
<!-- partial -->