<!-- partial:index.partial.html -->
<!-- ============================================================= SECTION – HERO ============================================================= -->
			
			<section id="mainSlider" class="mb-3">
				<div id="owl-main" class="owl-carousel height-md owl-inner-nav owl-ui-lg">
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/africa-ai-research-award-2022.jpeg);">
						<div class="container">
                            <div class="caption vertical-lower-bottom text-center">
                                
							<div class="fadeInDown-3">
									<a href="{{site.baseurl}}/dsa-research-awards-2022/" class="btn btn-large" target="_blank">Register now</a>
								</div><!-- /.fadeIn -->
                            </div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/dsa-mapS-4.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInDown-1 light-color">Previous DSA Events</h1>
								<p class="fadeInDown-2 medium-color">Since 2015, DSA has held 9 events in 7 different African Countries including Ghana, Uganda, Nigeria, South Africa, Kenya, Tanzania, and Ethiopia. <br>DSA Events consist of 3 days summer school (for training) and 2 days of workshop (for showcasing use cases) 
</p>
								<div class="fadeInDown-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/dsa-map-banner-2.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInLeft-1 light-color">Previous DSA Events</h1>
								<p class="fadeInLeft-2 light-color">Since 2015, DSA has held 9 events in 7 different African Countries including Ghana, Uganda, Nigeria, South Africa, Kenya, Tanzania, and Ethiopia. <br>DSA Events consist of 3 days summer school (for training) and 2 days of workshop (for showcasing use cases) </p>
								<div class="fadeInLeft-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/dsa-map-banner-grants.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeInRight-1 dark-bg light-color"><span>DSA Research<br>Grants</span></h1>
								<p class="fadeInRight-2 dark-color">DSA grants to 10 projects based at African Universities covering 8 (eight) African countries including Benin, Egypt, Ethiopia, Kenya, Nigeria, South Africa, Tanzania, and Uganda. Covering areas oc COVID-19, Agriculture, Climatic change, Urban planning and Health.</p>
								<div class="fadeInRight-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/dsa-map-banner-fellowship.jpg);">
						<div class="container">
							<div class="caption vertical-center text-left">
								
								<h1 class="fadeIn-1 dark-bg light-color"><span>DSA Visiting<br> Fellowship</span></h1>
								<p class="fadeIn-2 dark-color">The DSA Visiting Fellowship presents exciting opportunities<br> for members of the DSA community to explore and deepen their <br>academic and professional interests through research visits to DSA <br>partner academic institutions. </p>
								<div class="fadeIn-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
					
					<div class="item" style="background-image: url({{site.baseurl}}/assets/img/dsa-map-banner-UGANDA.jpg);">
						<div class="container">
							<div class="caption vertical-top text-left">
								
								<h1 class="fadeInDown-1 dark-color">Local<br> chapters</h1>
								<p class="fadeInDown-2 medium-color">DSA local chapters are meant to consolidate the achievements of <br>DSA at individual country level. DSA Uganda network is the first <br>local chapter and its mission is  to be “an all-inclusive network of <br>data scientists, enthusiasts, and organisations inspired to grow <br>data science skills and their usage to contribute to Uganda's <br>development aspirations”.</p>
								<div class="fadeInDown-3">
<!--									<a href="#" class="btn btn-large">Get started now</a>-->
								</div><!-- /.fadeIn -->
								
							</div><!-- /.caption -->
						</div><!-- /.container -->
					</div><!-- /.item -->
                    
					
				</div><!-- /.owl-carousel -->
			</section>
<!-- partial -->