<!-- Start speakers -->
<!--
<legend></legend>
<div id="location" class ="location" >
	<h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; margin-bottom: -5px;">
 		Resources
 	</h1>
 	<div class="row">
       <div class="col-sm-6 col-md-3">
            <div class="icon-box">
            	<h3><a>Tutorials</a></h3>
            	<ul class="nav nav-stacked">
            		<li>
            			<a href="https://www.youtube.com/watch?v=7cGwYMhPDUY">
            				Introduction to R
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>
            		<li>
            			<a href="https://www.youtube.com/watch?v=32o0DnuRjfg">
            				R - Data Analysis
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>

            	</ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="icon-box">
            	<h3><a>Publications</a></h3>
            	<ul class="nav nav-stacked">
            		<li>
            			<a href="http://air.ug/papers/AutomatedMalariaDiagnosisChapter.pdf">
            				Mobile Malaria Diagnosis
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>
            		<li>
            			<a href="http://air.ug/papers/CompSust_AI_Magazine_Fall2014.pdfComputational Sustainability">
            				Computational Sustainability
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>
            	</ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="icon-box">
            	<h3><a>Guidelines</a></h3>
            	<ul class="nav nav-stacked">
            		<li>
            			<a href="http://www.datascienceassn.org/code-of-conduct.html">
            				Code of Conduct
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>
            	</ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="icon-box">
            	<h3><a>Algorithms</a></h3>
            	<ul class="nav nav-stacked">
            		<li>
            			<a href="http://www.kdnuggets.com/2015/05/top-10-data-mining-algorithms-explained.html">
            				10 Data Mining algorithms
            				<svg class="icon icon-chevron-right pull-right" style="margin-top: 5px;">
            					<use xlink:href="#icon-chevron-right"></use>
            				</svg>
            			</a>
            		</li>

            	</ul>
            </div>
        </div>

    </div>
</div>
-->
