<section class="page-body">
    <div class="container">
        <div class="row">
            <div class="col-12">
                
            <hr>
            
            <p>This nine month long fellowship seeks to advance women’s health in Africa by providing training and support to 20 women scholars based in Africa and working on addressing women’s health problems. The fellowship is a collaboration between Data Science Africa and Rethé – an initiative focused on increasing representation of Africans in scientific publications. There will two cohorts. The 2024 cohort will focus on researchers living in west and central Africa. </p>

                <p>The use of the phrase <b>“women’s health”</b> in this fellowship has the same scope as described in the <a href="https://orwh.od.nih.gov/sites/orwh/files/docs/womens-health-rnd-opportunity-map_2023_508.pdf">Women’s Health Innovation Opportunity Map 2023 Report</a>. In the report, the phrase “is used to highlight all areas of health related to women, including conditions associated with both sex as a biological variable and gender as an intersecting social determinant of health. This includes diseases and conditions that present only in women, disproportionately in women, and differently in women.”</p>
                
            <hr>
            <h2 id="inaugural">What is Data Science Africa (DSA)?</h2>
                
            <p>DSA is a grassroots organization focused on building capability in data science, machine learning and AI in Africa. DSA partners with academic institutions to train students and researchers in cutting-edge computational methods. It also provides a venue to discuss locally developed data science solutions that address problems in Africa. The DSA program usually includes three days of theoretical training in data science methods, and a two-day workshop that provides an opportunity for participants to be exposed to relevant research on the continent. During the two-day workshop, we will organize a parallel session focused on Data Science Applications to Advance Women's Health and a half-day scientific writing workshop.</p>
            
            <h2 id="inaugural">The Basics</h2>
            <ul>
                    <li>Participation in the fellowship is free</li>
                    <li>DSA will cover travel, and lodging cost for fellows to participate in the 5-day DSA annual event, tentatively scheduled for June 2025 </li>
                    <li>A 2-day online scientific writing retreat in February</li>
                    <li>Dedicated mentors who will provide feedback on draft manuscripts</li>
                    <li>A half-day in-person writing workshop to be held as part of the Data Science Africa workshop</li>
                    <li>Peer networking and support</li>
                    <li>Payment of open-access publication fees</li>
                    <li>Career mentorship</li>
                </ul>
                
                
            <h2 id="inaugural">Requirements for participation</h2>
            <ul>
                    <li>Applicants must be pursuing a master’s or doctoral degree, or be an early career researcher working on women’s health issues.</li>
                    <li>Applicants should have a draft of a first authored research paper that they will work on during the fellowship. Participants can work on more than one manuscript during the fellowship period.</li>
                    <li>Applicants should be committed to participating in the writing retreat, workshop and DSA summer school. </li>
                    <li>Participants should be committed to sharing their brilliant ideas with others during all convenings. </li>
                    <li>Participants should also be committed to sharing the skills learned during the fellowship with others in their networks.</li>
                </ul>
            
            <h2 id="inaugural">Goals</h2>
                <p>Our goal is 100% success: we aim to support every fellow to complete and publish one research paper that advances women’s health in Africa. </p>
                
            <h2 id="inaugural">Timeline</h2>
             <ul>
                    <li>Application deadline: November 15</li>
                    <li>Fellows notified: January 2025</li>
                    <li>Online Writing Retreat: February 2025</li>
                    <li>Data Science Africa event/participation: June 2025</li>
                </ul>
                
           <h2 id="inaugural">Funding</h2>
                <p>The Data Science to Advance Women’s Health Fellowship is funded by the Bill & Melinda Gates Foundation.</p> 
                
           <h2 id="inaugural">Language</h2>
                <p>All application materials should be written in English. Also all convenings will be held in English.  </p>
                
           <h2 id="inaugural">Questions</h2>
                <p>Please contact Prof. Nsoesie at <a href="mailto:onelaine@bu.edu">onelaine@bu.edu</a>. </p>
                
            <hr>
            <a class="btn btn-outline-success" href="https://tinyurl.com/22da4897">Click here to apply</a>
           <hr>
           <br>
        </div>
    </div>
        </div>

</section>
		
