---
layout: default
---

<style type="text/css">
    .hero  .banner a:hover {
        background-color: #fff;
    }

    .icon-box{
        padding: 0px;
    }
    .icon-box img {
        max-height: 80px !important;
        width: auto !important;    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .v-align {
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

</style>

{% include bootstrap_js_code.html %}
{% capture banner_title %}{{ site.title }} {{ site.year }}{% endcapture %}
{% capture banner %}{{ site.baseurl }}/img/{{ site.banner }}{% endcapture %}
{% capture notice %}{% if site.next.url %}

    <a href="{{ site.next.url }}" style="
										 display: block;
										 text-decoration: none;
										 ">
      <div class="col-sm-offset-8 col-sm-4" style="
						   
						   
						   /*background-color: #999;*/
						   /*background-color: #369b9f;*/
						   background-color: #fefefe;

						   /*border-radius: 5px;
						   box-shadow: 0px 0px 3px 2px #777;*/
						   padding: 20px;
						   margin-top: 20px;
						   /*color: #ffffff; */
						   color: #444; 
						   /*border: 1px solid #ccc;*/
						   border-top: 4px solid #3dadb2; 
						   border-bottom: 2px solid grey;
						   opacity: 0.8; 
						   /*text-shadow: 1px 1px 3px #333;*/
						   ">
        {{ site.next.text }}
      </div>
    </a>
    <a href="{{ site.next2.url }}" style="
                         display: block;
                         text-decoration: none;
                         ">
      <div class="col-sm-offset-8 col-sm-4" style="
                               /*background-color: #999;*/
                               /*background-color: #369b9f;*/
                               background-color: #fefefe;
                               
                               /*border-radius: 5px;
                               box-shadow: 0px 0px 3px 2px #777;*/
                               padding: 20px;
                               margin-top: 20px;
                               /*color: #ffffff; */
                               color: #444; 
                               /*border: 1px solid #ccc;*/
                               border-top: 4px solid #3dadb2; 
                               border-bottom: 2px solid grey;
                               opacity: 0.8; 
                               /*text-shadow: 1px 1px 3px #333;*/
                               ">
        {{ site.next2.text }}
      </div>
    </a>
  {% endif %}{% endcapture %}

{% include banner.html %}

<!-- Start About -->
<div id="about" class="about" style="background-color: #F7F7F7">
    <div class="container-fluid">
      {{ content }}
    </div>
</div>

{% include events.html %}
{% include testimonials.html %}
{% include directory.html %}
{% include resources.html %}
{% include news.html %}
{% include speakers.html %}
{% include contact.html %}
