---
layout: default
---

<style type="text/css">
    .hero  .banner a:hover {
        background-color: #fff;
    }

    .icon-box{
        padding: 0px;
    }
    .icon-box img {
        max-height: 80px !important;
        width: auto !important;    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .v-align {
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

</style>


{% include bootstrap_js_code.html %}
{% capture banner_title %}{{ site.title }} {{ site.year }}{% endcapture %}
{% capture banner %}{{ site.baseurl }}/img/{{ site.banner }}{% endcapture %}
{% capture notice %}{% if site.previous.url %}


<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover; ">
    <div class="banner container-fluid">
        <a href="{{ site.baseurl }}/dsa2016" style="
                display: block;
                text-decoration: none;
        ">
        <div class="col-sm-offset-8 col-sm-4" style="
                
                
                /*background-color: #999;*/
                background-color: #369b9f;

                /*border-radius: 5px;
                box-shadow: 0px 0px 3px 2px #777;*/
                padding: 20px;
                margin-top: 20px;
                color: #ffffff; 
                /*border: 1px solid #ccc;*/
                border-top: 4px solid white; 
                border-bottom: 2px solid grey;
                opacity: 0.8; 
                /*text-shadow: 1px 1px 3px #333;*/
        ">
            <div class="" style="
                font-weight: bold;
                font-size: 18px;

            ">Data Science Africa 2016</div>
            <div>June 27<sup>th</sup>  - July 1<sup>st</sup> 2016</div>
            <div>Kampala, Uganda</div>
        </div>
        </a>
    </div>
    <div class="hero-content">
        <div class="container-fluid">
            <div class="">
<!--                <h1>Data Science Africa</h1>-->
<!--                <h1>Welcome to the official website of Data Science Africa</h1>-->
            </div>
        </div>
    </div>

    <div class="container-fluid" style="height:700px;" >

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form" style="background-color:transparent;">
            <h3></h3>

        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start Banner -->
<!-- <div id="" class="" style="">
    <div class="container-fluid">
        <h1 class="section-title" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">About Data Science Africa</h1>
        
        
        <div class="row">
        </div>
    </div>
</div> -->
<!-- End Banner -->

