/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    color: $white;
    background: #00843E;
    text-align: center;
    small {
        display: block;
    }
}
